<form [formGroup]="typeForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name">Название:</label>
                <input 
                type="name"
                 class="form-control"
                  id="name" placeholder="Имя"
                   formControlName="name"
                   [style.width]="'300px'" 
                   [ngClass]="{'has-error':
                  typeForm.get('name')?.invalid &&
                  typeForm.get('name')?.touched }">
                <small class="form-tesxt text-muted">
                    Обязательное поле длинной 100 символов
                </small>

            </div>
        </div>
    </div>
   


    <div class="col-12">
        <button type="submit" class="btn btn-primary ms-3 mb-2" 
        [disabled]="typeForm.invalid">Сохранить</button>
        <button type="button" class="btn btn-success ms-3 mb-2" 
        (click)="returnMM()"
        >Вернуться</button>
    </div>
  
</form>