<ng-container *ngIf="!editMode; else elseTemplate" >
    
    <div  class="row ">
        <h3 class="col-12 ms-2">{{note.name}}</h3>
        <textarea readonly class="col-12 ms-2" [style.width]='"90%"'>{{note.noteText}}</textarea>
        <span >Создана:{{note.time}}</span>
        <span *ngIf="note.updateTime" >Обновлена:{{note.updateTime}}</span>
    </div>
   <div>{{getTypeName(note.noteType)}}</div> 
<div class="row">
<div class="">
    <button class="btn btn-warning ms-2" (click)="editing()">Редактировать</button>
    <button class="btn btn-danger ms-2" (click)="delete()">Удалить</button>
</div>
</div>

</ng-container>
<ng-template #elseTemplate>


<form [formGroup]="noteForm" (ngSubmit)="save()">
<div class="row">
<div class="col-12">
    Имя:
    <input type="text" class="form-control" formControlName="name" [ngClass]="{'has-error':
    noteForm.get('name')?.invalid &&
    noteForm.get('name')?.touched }">
  
</div>
<div class="col-12">
    Текст записки:
    <textarea type="text" class="form-control" formControlName="noteText" [ngClass]="{'has-error':
    noteForm.get('noteText')?.invalid &&
    noteForm.get('noteText')?.touched }"></textarea>
  
</div>
<div class="col-12">
    <div class="form-group">
        <select class="form-select" aria-label="Default select example" formControlName="noteType">
            <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
        </select>
        <!-- {{getTypeName(note.noteType)}} -->
        <small class="form-tesxt text-muted">
            Обязательное поле. Выберите тип заметки. 
        </small>
       

    </div>
    
</div>
<button class="btn btn-primary ms-2 " type="submit" [disabled]="noteForm.invalid" [style.width]='"93%"' >Сохранить</button>
</div>

</form>
</ng-template>
