
<ng-container *ngIf="!editMode; else elseTemplate" ></ng-container>
<div class="col-12">
    <div class="">
        
            <div  >{{type.name}}
                <button class="btn btn-danger ms-2 "
                 type="button"
                   (click)="DelType(type.id)">Удалить</button>
                   <button class="btn btn-warning ms-2"
                   type="button"
                     (click)="editType()">Редактировать</button>
            </div>
        
        <!-- <button class="btn btn-primary ms-2 " type="submit"  (click)="AddType()">Добавить тип</button> -->


    </div>
</div>
<ng-template #elseTemplate>
    <div class="border border-dark p-3 m-2" [style.width]='"300px"'>
<form [formGroup]="typeForm" (ngSubmit)="save()">
<div class="row">
<div class="col-12">
    Имя:
    <input type="text" class="form-control" formControlName="name" [ngClass]="{'has-error':
    typeForm.get('name')?.invalid &&
    typeForm.get('name')?.touched }">
  
</div>
<div class="col-12">
 
  
</div>

<button class="btn btn-primary ms-2 " type="submit" [disabled]="typeForm.invalid" [style.width]='"93%"' >Сохранить</button>
</div>

</form></div>
</ng-template>