<form [formGroup]="noteForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" id="name" placeholder="Имя" formControlName="name" [ngClass]="{'has-error':
                  noteForm.get('name')?.invalid &&
                  noteForm.get('name')?.touched }">
                <small class="form-tesxt text-muted">
                    Обязательное поле длинной 100 символов
                </small>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="noteText">Текст:</label>
                <textarea type="text" class="form-control" id="noteText" placeholder="Текст заметки"
                    formControlName="noteText" [ngClass]="{'has-error':
            noteForm.get('noteText')?.invalid &&
            noteForm.get('noteText')?.touched }"></textarea>
                <small class="form-tesxt text-muted">
                    Обязательное поле длинной 1000 символов
                </small>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <select class="form-select" aria-label="Default select example" formControlName="noteType">
                    <option *ngFor="let type of types; " [ngValue]="type.id">{{type.name}}</option>
                </select>
                <small class="form-tesxt text-muted">
                    Обязательное поле. Выберите тип заметки.
                </small>


            </div>
            
        </div>
        

        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="noteForm.invalid">Сохранить</button>
        </div>
    </div>
</form>