
<div class="container" [style.width]="'calc(80% - 150px)'">
  <app-note-form (onSave)="save($event)" [types]="types" [hidden]="hideForm"></app-note-form>
  <div class="row mt-3" [style.flex-wrap]="'wrap'" [style.display]="'flex'">
   
    <div class="col-4" *ngFor="let note of notes" [hidden]="!note.showed" [style.width]="'260px'">
          <app-note-item
          
          [note]="note"
          (onDelete)="delete($event)"
          (onSave)="edit($event,note.id)"
          (onHide)="hideAll($event)"
          (onShowForm)="ShowForm($event)"
          ></app-note-item>
      
      </div>
     
  </div>
</div>





<button class="btn btn-success p-3"
 [style.width]="'150px'"
 [style.position]="'absolute'"
  [style.right]="'10px'"
   [style.top]="'10px'"
   (click)="ShowTypeMenu()"
   [hidden]="showTM"
>Управление списком типов</button> 
<app-type-add  [hidden]="!showTM"  (onSave)="postType($event)" (retMM)="showMM()"></app-type-add>
<app-type-form  [hidden]="!showTM" *ngFor="let type of types" [type]="type" 
 (onDelT)="deleteT($event)" (onSave)="putT($event,type.id)"
 ></app-type-form>